body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background: rgb(87.5% 87.5% 87.5%);
	height: 100%;
}

#auth {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	form {
		background:
			linear-gradient(to bottom,
				rgba(0% 0% 0% / 33.3%) 0,
				transparent 24px
			),
			rgba(87.5% 87.5% 87.5% / 87.5%);
		backdrop-filter: blur(4px);
		position: fixed;
		padding: 24px;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		box-shadow:
			0 0 0 1px rgba(0% 0% 0% / 12.5%),
			0 8px 32px rgba(0% 0% 0% / 50%);
		border-radius: 0 0 2px 2px;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 12px;
	}
}

#tabsContainer {
	display: flex;
	flex-direction: row;
	height: 24px;
	background: linear-gradient(to bottom,
		rgba(37.5% 37.5% 37.5%),
		rgba(12.5% 12.5% 12.5%)
	);
	box-shadow:
		inset 0 1px rgba(100% 100% 100% / 12.5%),
		inset 0 -1px rgba(0% 0% 0% / 50%),
		0 0 16px black;
	z-index: 1;

	button {
		background: none;
		color: white;
		border-width: 0 1px 0 0;
		border-style: solid;
		border-color: black;
		text-shadow: 0 -1px black;
	}

	button:active {
		background: linear-gradient(to bottom,
			rgba(12.5% 12.5% 12.5%),
			rgba(37.5% 37.5% 37.5%)
		);
		border-color: rgba(100% 100% 100% / 12.5%);
		box-shadow: inset 0 1px 4px rgba(0% 0% 0% / 75%);
		text-shadow: 0 1px 2px black;
	}
}

#clientViews {
	flex: 1;
}

.client-interface {
    display: flex;
	flex-direction: column;
	height: 100%;

    .horizontal {
        display: flex;
        flex-direction: row;
        resize: vertical;
        overflow: auto;
    }

	.input {
		position: relative;
		overflow: auto;
		resize: horizontal;
	}

	.input > * {
		position: absolute;
		padding: 4px;
		font: 12px monospace;
		width: 100%;
		height: 100%;
	}

	.inputText,
	.inputLint {
		box-sizing: border-box;
		tab-size: 4;
		white-space: pre;
		overflow: auto;
	}

	.inputText {
		background: rgb(25% 25% 25%);
		color: rgba(100% 100% 100% / 25%);
		caret-color: white;
		border: none;
		resize: none;
	}

	.inputLint {
		pointer-events: none;
		color: rgb(75% 75% 75%);
		overflow: hidden;
	}

	.treesOutput {
		font-size: 10px;
		color: black;
		overflow: auto;
	}

	.treesOutput,
	.console {
		grid-area: trees;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		height: 24px;
		box-shadow: inset 0 -1px rgb(50% 50% 50%);
		flex-shrink: 0;


		button {
			background: none;
			border-width: 0 1px 0 0;
			border-style: solid;
			border-color: rgb(50% 50% 50%);
		}

		button:active {
			box-shadow: inset 0 1px 4px rgba(0% 0% 0% / 50%);
			text-shadow: 0 1px 2px black;
			color: white;
		}
	}

	.treesOutput {
		display: flex;
		flex-direction: column;
		gap: 4px;
		flex: 1;
	}

	.treesOutput > * {
		white-space: pre-wrap;
		font-family: monospace;
		min-width: 256px;
	}

	.console {
		display: flex;
		grid-area: console;
		flex-direction: column;
	}

	.consoleOutput {
		flex: 1;
		overflow-y: auto;
		background: white;
		font-size: 10px;
		font-family: monospace;
		display: flex;
		flex-direction: column;
	}

	.consoleInput {
		background: none;
		border: none;
		font-family: monospace;
		font-size: 12px;
	}
}